* {
    box-sizing: border-box;
}

header{
    float: inline-start;
    border-bottom: rgb(0, 0, 0);
    font-size: 16px;
}

nav {
    border: 5px;
    border-color: black;
    text-align: center;
}

body {
    background-color: tan;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
     color: rgb(0, 0, 0);
    
}
article {
    margin: 10px;
    width: 100%;
    text-align: center;
}

h1 {
    color:crimson;
}
footer{
    float: inline-end;
    background-color: gray;
    background-size: 50%;
    text-align: center;
}
a:hover {
    background-color: red;
}
a:link{
    color: rgb(55, 0, 207);
    font-family: italic;
}
a:visited{
    color: green;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
 







